<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <h1>Acceso</h1>
                <p class="text-medium-emphasis">Inicia Sesión</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    cFormControl
                    formControlName="rut"
                    placeholder="Rut con guión sin puntos"
                  />       
                </c-input-group>
                <div>
                  <p *ngIf="f['rut'].hasError('required') &&f['rut'].touched" class="error">
                    RUT requerido
                  </p>
                </div>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    cFormControl
                    formControlName="password"
                    placeholder="Contrasena"
                    type="password"
                  />
                </c-input-group>
                <div>
                  <p *ngIf="f['password'].hasError('required') &&f['password'].touched" class="error">
                    Contrasena requerida
                  </p>
                </div>
                <c-row>
                  <c-col xs="6">
                    <button
                      cButton
                      class="px-4"
                      color="success"
                      variant="outline"
                      type="submit"
                      [disabled]="!formLogin.valid"
                    >
                      Ingresar
                    </button>
                  </c-col>
                  <!---
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                  -->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{ 'width.%': 44 }" class="text-white py-5">
            <c-card-body class="text-center">
              <div>
                <img
                  cImg
                  height="50"
                  width="100"
                  src="assets/logos/logo2.png"
                />
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
  <toaster-container></toaster-container>
</div>
