<form
  [formGroup]="formEdit"
  [gutter]="3"
  novalidate
  cForm
  cRow
  class="needs-validation"
>
  <c-col [md]="12">
    <label cLabel for="name">Nombre</label>
    <input
      cFormControl
      formControlName="name"
      id="name"
      required
      type="text"
    />
    <p *ngIf="f['name'].hasError('required')" class="error">Nombre requerido</p>
  </c-col>

  <c-col [md]="12">
    <label cLabel for="rut">RUT</label>
    <input
      cFormControl
      formControlName="rut"
      id="rut"
      required
      type="text"
    />
    <!--
      Agregar estos parametros, para tener un input valido completo para rut 
      rutFormat
    rutDefault
  <p *ngIf="formEdit.controls['rut'].hasError('rutdefault')" class="error">RUT inválido</p>-->

    <p *ngIf="f['rut'].hasError('required')" class="error">RUT requerido</p>
  </c-col>
<!--
  <c-col [md]="4">
    <label cLabel for="password">Contrasena</label>
    <input
      cFormControl
      formControlName="password"
      id="password"
      required
      type="password"
    />
  </c-col>
  <c-col [md]="2">
    <button
      cButton
      onclick="if (password.type == 'text') password.type = 'password';
      else password.type = 'text';"
    >
      Ver
    </button>
  </c-col>
-->
  <c-col [xs]="12">
    <button
      cButton
      class="me-1"
      color="primary"
      variant="outline"
      type="submit"
      [disabled]="!formEdit.valid"
      (click)="onSubmit()"
      (click)="closeModalComponent()"
      
    >
      Actualizar usuario
    </button>
    <button cButton color="secondary" variant="outline" type="reset">
      Resetear
    </button>
  </c-col>
</form>
